<%= form_for(@personal_info) do |f| %>
  <% if @personal_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_info.errors.count, "error") %> prohibited this personal_info from being saved:</h2>

      <ul>
      <% @personal_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :father_name %><br />
    <%= f.text_field :father_name %>
  </div>
  <div class="field">
    <%= f.label :mother_name %><br />
    <%= f.text_field :mother_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.datetime_select :date_of_birth,:start_year => 1948, :end_year => 2050 %>
  </div>
  <div class="field">
    <%= f.label :permanent_address %><br />
    <%= f.text_field :permanent_address %>
  </div>
  <div class="field">
    <%= f.label :local_address %><br />
    <%= f.text_field :local_address %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :alternate_email %><br />
    <%= f.text_field :alternate_email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :home_phone %><br />
    <%= f.number_field :home_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
