
<div class="container">
  <div class="row-fluid">
    <div class="span12 well">
    <legend>Listing personal_infos</legend>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Date of birth</th>
        <th>Phone</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% if @personal_infos %>
        <%# @personal_infos.each do |personal_info| %>
          <tr>
            <td><%= @personal_infos.name %></td>
            <td><%= @personal_infos.date_of_birth %></td>
            <td><%= @personal_infos.phone %></td>
            <td><%= link_to 'Show', personal_info_path(@personal_infos), :class => "btn btn-info"%></td>
            <td><%= link_to '<i class=" icon-edit" ></i> Edit'.html_safe, edit_personal_info_path(@personal_infos), :class => "btn btn-info"%></td>
            <td><%#= link_to '<i class=" icon-remove" ></i> Destroy'.html_safe, personal_info_path(@personal_infos), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"%></td>
          </tr>
        <%# end %>
      <% end %>
    </table>
    </div>
  </div>
</div>






