<h1>Listing personal_infos</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Name</th>
    <th>Father name</th>
    <th>Mother name</th>
    <th>Date of birth</th>
    <th>Permanent address</th>
    <th>Local address</th>
    <th>Email</th>
    <th>Alternate email</th>
    <th>Phone</th>
    <th>Home phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personal_infos.each do |personal_info| %>
  <tr>
    <td><%= personal_info.employee_id %></td>
    <td><%= personal_info.name %></td>
    <td><%= personal_info.father_name %></td>
    <td><%= personal_info.mother_name %></td>
    <td><%= personal_info.date_of_birth %></td>
    <td><%= personal_info.permanent_address %></td>
    <td><%= personal_info.local_address %></td>
    <td><%= personal_info.email %></td>
    <td><%= personal_info.alternate_email %></td>
    <td><%= personal_info.phone %></td>
    <td><%= personal_info.home_phone %></td>
    <td><%= link_to 'Show', personal_info %></td>
    <td><%= link_to 'Edit', edit_personal_info_path(personal_info) %></td>
    <td><%= link_to 'Destroy', personal_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Personal info', new_personal_info_path %>
<%= link_to 'GoTo Main page', root_path %>
