


<div class="container">
  <div class="row-fluid">
    <div class="offset2 span8 well">
     <%= link_to 'Back', admin_personal_infos_path, :class => "btn btn-info"  %>
     <legend>Personal information is already filled</legend>
     <%= form_for(@personal) do |f| %> 
      <% if @personal.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@personal_info.errors.count, "error") %> prohibited this personal_info from being saved:</h2>

          <ul>
          <% @personal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="field">
        <%= f.hidden_field(:employee_id, :value => @employee.id) %>
      </div>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :father_name %><br />
        <%= f.text_field :father_name %>
      </div>
      <div class="field">
        <%= f.label :mother_name %>
        <%= f.text_field :mother_name %>
      </div>
      <div class="field">
        <%= f.label :date_of_birth %>
        <%= f.text_field :date_of_birth, :class => 'datepicker' %>
      </div>
      <div class="field">
        <%= f.label :permanent_address %>
        <%= f.text_field :permanent_address %>
      </div>
      <div class="field">
        <%= f.label :local_address %>
        <%= f.text_field :local_address %>
      </div>

      <div class="field">
        <%= f.label :alternate_email %>
        <%= f.text_field :alternate_email %>
      </div>
      <div class="field">
        <%= f.label :phone %>
        <%= f.number_field :phone %>
      </div>
      <div class="field">
        <%= f.label :home_phone %>
        <%= f.number_field :home_phone %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    </div>
  </div>
</div>    
<script>
  $('.datepicker').datepicker({format:'yyyy-mm-dd'});
</script>

