<div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Leave-Management</a>
        <ul class="nav">
          <li><%= link_to '<i class="icon-home" ></i> Home'.html_safe, root_path %></li>
          <li> <%= link_to 'Add Personal Info', profile_admin_personal_infos_path %></li>
        </ul>  
        <ul class ="nav pull-right">
          <li><%= link_to 'logout', destroy_employee_session_path, :method => :delete %></li>
      </ul>
    </div>
  </div> 

<div class="container">
  <div class="row-fluid">
    <div class="span12 well">
    <legend>Listing personal_infos</legend>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Date of birth</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @personal_infos.each do |personal_info| %>
        <tr>
          <td><%= personal_info.name %></td>
          <td><%= personal_info.date_of_birth %></td>
          <td><%= personal_info.email %></td>
          <td><%= personal_info.phone %></td>
          <td><%= link_to 'Show', admin_personal_info_path(personal_info), :class => "btn btn-info"%></td>
          <td><%= link_to 'Edit', edit_admin_personal_info_path(personal_info), :class => "btn btn-info"%></td>
          <td><%= link_to 'Destroy', admin_personal_info_path(personal_info), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"%></td>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>






