<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Leave-Management</a>
    <ul class="nav">
      <li><%= link_to '<i class="icon-home" ></i> Home'.html_safe, root_path %></li>
      <li><%= link_to 'Back', admin_personal_infos_path %></li>
    </ul>  
    <ul class ="nav pull-right">
      <li><%= link_to 'Logout', destroy_employee_session_path, :method => :delete %></li>
    </ul>
  </div>
</div> 


<div class="container">
  <div class="row-fluid">
    <div class="offset2 span8 well">
    <table class = "table">
      <% @employees.each do |employee| %>
        <tr>
          <td><%=  employee.email %></td>
          <td><%= link_to 'Fill Personal Info',show_perticular_personal_info_admin_personal_info_path(employee), :class => "btn btn-info"%> </td>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>
