<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Leave-Management</a>
    <ul class="nav">
      <li><%= link_to '<i class="icon-home" ></i> Home'.html_safe, root_path %></li>
      <li><%= link_to 'Show', admin_salary_path(@salary) %></li> 
      <li> <%= link_to 'Back', admin_salaries_path %></li>
    </ul>  
    <ul class ="nav pull-right">
      <li><%= link_to 'logout', destroy_employee_session_path, :method => :delete %></li>
    </ul>
  </div>
</div> 
<div class="container">
  <div class="row-fluid">
    <div class="span12 well">
      
     
      <center><legend>Editing salary</legend></center>

      <%= render 'form' %>
    </div>
  </div>
</div>      
      


