<h1>Listing salaries</h1>

<table class="table">
  <tr>
    <th>Applicable month  </th>
    <th>Previous month salary  </th>
    <th>Applicable salary  </th>
    <th>Deduction  </th>
    <th>Deduction description  </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @salaries.each do |salary| %>
  <tr>
    <td><%= salary.applicable_month %></td>
    <td><%= salary.previous_month_salary %></td>
    <td><%= salary.applicable_salary %></td>
    <td><%= salary.deduction %></td>
    <td><%= salary.deduction_description %></td>
    <td><%= link_to 'Show', admin_salary_path(salary), :class => "btn"%></td>
    <td><%= link_to 'Modify', edit_admin_salary_path(salary), :class => "btn"%></td>
    <td><%= link_to 'Destroy', admin_salary_path(salary), :method =>:delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"%></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Salary', new_admin_salary_path, :class => "btn"%><br>
<%= link_to 'home', root_path, :class => "btn"%>
