 
<div class="container">
  <div class="row-fluid">
    <div class=" span12 well">
      <legend>Listing salaries</legend>

      <table class="table">
        <tr>
          <th>Applicable month  </th>
          <th>Previous month salary  </th>
          <th>Applicable salary  </th>
          <th>Deduction  </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

      <% @salaries.each do |salary| %>
        <tr>
          <td><%= salary.applicable_month %></td>
          <td><%= salary.previous_month_salary %></td>
          <td><%= salary.applicable_salary %></td>
          <td><%= salary.deduction %></td>
          <td><%= link_to 'Show', admin_salary_path(salary), :class => "btn btn-info"%></td>
          <td><%= link_to '<i class=" icon-edit" ></i> Edit'.html_safe, edit_admin_salary_path(salary), :class => "btn btn-info"%></td>
          <td><%= link_to '<i class=" icon-remove" ></i> Destroy'.html_safe, admin_salary_path(salary), :method =>:delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"%></td>
        </tr>
      <% end %>
      </table>
      <%= link_to 'Salary new salary', salary_admin_salaries_path %>

    </div>
  </div>
</div>  
