<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Leave-Management</a>
    <ul class="nav">
      <li><%= link_to '<i class="icon-home" ></i> Home'.html_safe, root_path %></li>
      <li><%= link_to 'Salary detail', salary_admin_salaries_path %></li> 
      <li> <%= link_to 'Back', admin_salaries_path %></li>
    </ul>  
    <ul class ="nav pull-right">
      <li><%= link_to 'logout', destroy_employee_session_path, :method => :delete %></li>
    </ul>
  </div>
</div> 

<div class="container">
  <div class="row-fluid">
    <div class="span12 well">
      <legend>Listing salaries</legend>

      <table class="table">
        <tr>
          <th>Applicable month  </th>
          <th>Previous month salary  </th>
          <th>Applicable salary  </th>
          <th>Deduction  </th>
          <th>Deduction description  </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

      <% @salaries.each do |salary| %>
        <tr>
          <td><%= salary.applicable_month %></td>
          <td><%= salary.previous_month_salary %></td>
          <td><%= salary.applicable_salary %></td>
          <td><%= salary.deduction %></td>
          <td><%= salary.deduction_description %></td>
          <td><%= link_to 'Show', admin_salary_path(salary), :class => "btn btn-info"%></td>
          <td><%= link_to 'Modify', edit_admin_salary_path(salary), :class => "btn btn-info"%></td>
          <td><%= link_to 'Destroy', admin_salary_path(salary), :method =>:delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"%></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>  
