<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Leave-Management</a>
    <ul class="nav">
      <li><%= link_to '<i class="icon-home" ></i> Home'.html_safe, root_path %></li>
      <li> <%= link_to '<i class ="icon-arrow-left"></i>Back'.html_safe, admin_salaries_path %></li>
    </ul>  
    <ul class ="nav pull-right">
      <li><%= link_to 'logout', destroy_employee_session_path, :method => :delete %></li>
    </ul>
  </div>
</div>

<%= form_for([:admin,@sal]) do |f| %>
  <% if @sal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sal.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
      <% @sal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :employee_id %><br />
    <%#= f.text_field :employee_id %>
    <%#= f.hidden_field(:employee_id, :value => current_employee.id) %>
     <%= f.hidden_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :applicable_month %><br />
    <%= f.date_select :applicable_month, :start_year => 1948, :end_year => 2050 %>
  </div>
  <div class="field">
    <%= f.label :previous_month_salary %><br />
    <%= f.text_field :previous_month_salary %>
  </div>
  <div class="field">
    <%= f.label :applicable_salary %><br />
    <%= f.text_field :applicable_salary %>
  </div>
  <div class="field">
    <%= f.label :deduction %><br />
    <%= f.text_field :deduction %>
  </div>
  <div class="field">
    <%= f.label :deduction_description %><br />
    <%= f.text_area :deduction_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


