<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Leave-Management</a>
    <ul class="nav">
      <li><%= link_to '<i class="icon-home" ></i> Home'.html_safe, root_path %></li>
      <li> <%= link_to 'Back', admin_salaries_path %></li>
    </ul>  
    <ul class ="nav pull-right">
      <li><%= link_to 'logout', destroy_employee_session_path, :method => :delete %></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span8 well">
      <table class ="table">
        <tr>
          <th>Id</th>
          <th>details</th>
        </tr>  
        <tr>
        <% @employees.each do |employee| %>
        <td><%= employee.id %></td>
        <td><%= link_to 'Salary detail', add_salary_admin_salary_path(employee), :class => "btn btn-info" %></td><br />
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>  
