
      
 

<div class="container">
  <div class="row-fluid">
    <div class="span12 well">
    
      <p id="notice"><%= notice %></p>

      <p>
        <b>Employee:</b>
        <%= @salary.employee_id %>
      </p>

      <p>
        <b>Applicable month:</b>
        <%= @salary.applicable_month %>
      </p>

      <p>
        <b>Previous month salary:</b>
        <%= @salary.previous_month_salary %>
      </p>

      <p>
        <b>Applicable salary:</b>
        <%= @salary.applicable_salary %>
      </p>

      <p>
        <b>Deduction:</b>
        <%= @salary.deduction %>
      </p>

      <p>
        <b>Deduction description:</b>
        <%= @salary.deduction_description %>
      </p>
      <%= link_to 'Edit', edit_admin_salary_path(@salary), :class =>"btn btn-info" %>
      <%= link_to 'Back', admin_salaries_path, :class =>"btn btn-info" %>
    </div>
  </div>
</div>  
