      <div class="container">
        <div class="row-fluid">
          <div class="offset1 span11 well">
      <%= form_for([:admin, @leave_info]) do |f| %>
        <div class="field">
          <%= f.label :Employee_id %> <%= current_employee.id %>
          <%= f.hidden_field(:employee_id, :value => current_employee.id) %>
        </div>
        
        <div class="field">
          <%= f.hidden_field(:leave_status, :value => "Aceept") %>
         </div>

        
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
