

<div class="container">
  <div class="row-fluid">
    <div class=" span12 well">
    
      <%= render :partial => "leave_show" %>    
          
      <center><legend>Listing leave_infos</legend></center>

      <table class= "table">
        <tr>
          <th>Applicant Name</th>
          <th>Refferal Name</th>
          <th>Reference Status</th>
          <th>Start Date</th>
          
          <th>End Date</th>
          <th>Leave Days</th>
          <th>Status Of Day</th>
          <th>Counted days</th>
          <th>Leave Status</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <% @leave_infos.each do |leave_info| %>
          <% count = 0%>
          <tr>
            <% @e = Employee.find_by_id(leave_info.applicant_id) %>
            <td>
           
               <%= link_to  @e.name , show_perticular_leaves_admin_leave_info_path(leave_info.applicant_id) %>
            </td> 
            <% @l = Employee.find_by_id(leave_info.employee_id) %>
            <td><%= @l.name %>
            <td><%= leave_info.reference_status %></td>  
               
            <td><%= leave_info.start_date %></td>
            <td><%= leave_info.end_date %></td>
            <td><%= count += distance_of_time_in_words(leave_info.start_date ,leave_info.end_date).to_i  %></td>
            <td><%= leave_info.status_of_day %></td>
            <td><%= counted_leave = count * leave_info.status_of_day %>
            
            <td><%= link_to  leave_info.leave_status ,edit_admin_leave_info_path(leave_info) %></td> 
            <td><%= link_to 'Detail', admin_leave_info_path(leave_info), :class => "btn btn-info" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
 



