<div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Leave-Management</a>
        <ul class="nav">
          <li><%= link_to '<i class="icon-home" ></i> Home'.html_safe, root_path %></li>
          <li><%= link_to '<i class="icon-back" ></i> Back'.html_safe, admin_leave_infos_path %></li>
        </ul>  
        <ul class ="nav pull-right">
          <li><%= link_to 'logout', destroy_employee_session_path, :method => :delete %></li>
      </ul>
    </div>
  </div>  


<div class="container">
  <div class="row-fluid">
    <div class="offset1 span11 well">
    <center>
      <legend> Show Individual Leaves </legend>
      <table class="table">
        <tr>
          <th> Email</th>
          <th> Links</th>
        </tr>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.email %></td>
          <td><%= link_to 'show particular leave',show_perticular_leaves_admin_leave_info_path(employee), :class => "btn btn-info"%> </td><br />
        </tr>
      <% end %>
      </table>
    </center>
    </div>
  </div>
</div>     
