<div class="container">
  <div class="row-fluid">
    <div class="offset1 span8 well">
      <p id="notice"><%= notice %></p>
      <h5> Leave Apllication Details </h5>
      <p>
        <b>Applicant Name:</b>
         <% @e = Employee.find_by_id(@leave_info.applicant_id) %>
        <%= @e.name  %>
      </p>

      <p>
        <b>Referral Name:</b>
        <% @l = Employee.find_by_id(@leave_info.employee_id) %>
        <%= @l.name %>
      </p>
                                                                      
      <p>
        <b>Leave Status:</b>
        <%= @leave_info.leave_status %>
      </p>

      <p>
        <b>Start date:</b>
        <%= @leave_info.start_date %>
      </p>

      <p>
        <b>End date:</b>
        <%= @leave_info.end_date %>
      </p>

      <p>
        <b>Status of day:</b>
        <%= @leave_info.status_of_day %>
      </p>

      <p>
        <b>Reason of leave:</b>
        <%= @leave_info.reason_of_leave %>
      </p>

      <p>
        <b>To email ids:</b>
        <%= @leave_info.to_email_ids %>
      </p>

      <p>
        <b>Cc email ids:</b>
        <%= @leave_info.cc_email_ids %>
      </p>

      <p>
        <b>Reference status:</b>
        <%= @leave_info.reference_status %>
      </p>
    </div>
  </div>
</div>
 
