<div class="container">
  <div class="row-fluid">
    <div class="span12 well">
      
      <legend>Find leaves between dates</legend>
      <%= render :partial => "leave_show" %>
      <legend>Total leaves</legend>
      <table class ="table">
        <tr>
          <th>Applicant Name</th>
          <th>Refferal Name</th>
          
         
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status Of Day</th>
          <th>Leave Status</th>
          <th>Leave Days</th>

          <th>Counted Leave</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <% count = 0 %>
        <% total_count = 0%>
      <% @leave_infos.each do |leave_info| %>
        <% if(leave_info.leave_status == "pending") %>
          <tr class="warning">
        <% elsif(leave_info.leave_status == "Approved") %>
          <tr class="success">
        <% else %>  
          <tr class="error">
        <% end %> 
        <% @e = Employee.find_by_id(leave_info.applicant_id) %>
          <td>
          <%# unless @e.personal_info.blank? %>
            <%= @e.personal_info.name  %>
          <%# end %>
          </td> 
          <% if(leave_info.applicant_id == leave_info.employee_id) %>
            <td> Self</td>
          <% else %>  
            <% @l = Employee.find_by_id(leave_info.employee_id) %>
            <td><%= @l.personal_info.name %>
          <% end %>
          <td><%= leave_info.start_date %></td>
          <td><%= leave_info.end_date %></td>
          <td><%= leave_info.status_of_day %></td>
          <td><%= leave_info.leave_status %></td>
          <% if(leave_info.leave_status == "Approved") %>        
            <td><%= count += distance_of_time_in_words(leave_info.start_date,leave_info.end_date).to_i  %></td>
            <td><%= counted_leave = count * leave_info.status_of_day.to_f %></td>
            <% total_count+= counted_leave %>
          <% else %>
            <td>0</td>
            <td>0</td>
          <% end %>

          <td><%= link_to 'Show', admin_leave_info_path(leave_info), :class => "btn btn-info" %></td>
          <td><%= link_to 'Status', edit_admin_leave_info_path(leave_info), :class => "btn btn-info" %></td>
        </tr>
      <% end %>
      </table>
      <br />
      <b>Total leave</b>
      <%= total_count %>
    </div>
  </div>
</div>

