<div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Leave-Management</a>
        <ul class="nav">
          <li><%= link_to '<i class="icon-home" ></i> Home'.html_safe, root_path %></li>
          <li><%= link_to '<i class="icon-back" ></i> Back'.html_safe, admin_leave_infos_path %></li>
        </ul>  
        <ul class ="nav pull-right">
          <li><%= link_to 'logout', destroy_employee_session_path, :method => :delete %></li>
      </ul>
    </div>
  </div> 


<div class="container">
  <div class="row-fluid">
    <div class="offset1 span8 well">
      <p id="notice"><%= notice %></p>

      <p>
        <b>Leave Status:</b>
        <%= @leave_info.leave_status %>
      </p>

      <p>
        <b>Start date:</b>
        <%= @leave_info.start_date %>
      </p>

      <p>
        <b>End date:</b>
        <%= @leave_info.end_date %>
      </p>

      <p>
        <b>Status of day:</b>
        <%= @leave_info.status_of_day %>
      </p>

      <p>
        <b>Reason of leave:</b>
        <%= @leave_info.reason_of_leave %>
      </p>

      <p>
        <b>To email ids:</b>
        <%= @leave_info.to_email_ids %>
      </p>

      <p>
        <b>Cc email ids:</b>
        <%= @leave_info.cc_email_ids %>
      </p>

      <p>
        <b>Reference status:</b>
        <%= @leave_info.reference_status %>
      </p>

      <p>
        <b>Applicant name:</b>
        <%= @leave_info.applicant_name %>
      </p>



      <%#= link_to 'Edit', edit_admin_leave_info_path(@leave_info) %> 
      <%#= link_to 'Accept', admin_leave_info_path(@leave_info), :method => 'put', :class =>"btn" %>
      <%#= link_to 'Reject', admin_leave_info_path(@leave_info), :method => 'put', :class =>"btn" %>
    </div>
  </div>
</div>
 
