
<%= form_for([:admin, @employee], :html=>{:onsubmit=>"ragistrationForm();"}, :validate => true) do |f| %>
  <%#= f.error_messages %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this leave_info from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.fields_for :personal_info do |personal_info_form| %>
    <%= personal_info_form.label :name %>
    <%= personal_info_form.text_field :name %>
  <% end %>
  
     
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>   
  <div class="field">  
    <%= f.label :password %> 
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div><%= f.label :date_of_joining %>
    <%= f.text_field :date_of_joining, :class => 'datepicker' %>
  </div> 
  <div><%= f.label :admin_status %>
    <%= f.check_box :admin_status %>
  </div> 
  <div class="actions" >
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('.datepicker').datepicker({"format": "yyyy-mm-dd", "weekStart": 0, "autoclose": true});
</script>

