<h1>Listing leave_infos</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Status of day</th>
    <th>Reason of leave</th>
    <th>To email ids</th>
    <th>Cc email ids</th>
    <th>Reference status</th>
    <th>Applicant name</th>
    <th>Leave status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employe.leave_infos.each do |leave_info| %>
  <tr>
    <td><%= leave_info.employee_id %></td>
   
    <td><%= leave_info.start_date %></td>
    <td><%= leave_info.end_date %></td>
    <td><%= leave_info.status_of_day %></td>
    <td><%= leave_info.reason_of_leave %></td>
    <td><%= leave_info.to_email_ids %></td>
    <td><%= leave_info.cc_email_ids %></td>
    <td><%= leave_info.reference_status %></td>
    <td><%= leave_info.applicant_name %></td>
    <td><%= leave_info.leave_status %></td>
    <td><%= link_to 'Show', admin_leave_info_path(leave_info) %></td>
    <td><%= link_to 'Edit', edit_admin_leave_info_path(leave_info) %></td>
    <td><%= link_to 'Destroy', admin_leave_info_path(leave_info), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Leave info', new_admin_leave_info_path %>
<%= link_to 'Back', admin_employees_path %>
