<center><legend>GrepRuby Webtech Leave & Salary Management</legend></center>
<% if current_employee %>
  <% if current_employee.admin_status == true %>
    <ul class="nav nav-pills">
      <li ><%= link_to  'Registration', admin_employees_path, :class => "btn btn-info" %></li> 
      <li><%= link_to 'Profiles', admin_personal_infos_path, :class => "btn btn-info" %></li>
      <li><%= link_to 'Leaves', admin_leave_infos_path, :class => "btn btn-info" %></li>
      <li><%= link_to 'Salary', admin_salaries_path, :class => "btn btn-info" %></li>
    </ul>
    <legend>Welcome Admin : <%= current_employee.email %></legend>
  <% else %>
    Welcome Employee : <%= current_employee.email %>
    <%= link_to 'Create Laeves', new_leave_info_path, :class => "btn  btn-inverse" %> 
    <%= link_to 'Show all leaves',leave_infos_path, :class => "btn  btn-inverse" %>
  <% end %>
    <%= link_to 'logout', destroy_employee_session_path, :method => :delete, :class => "btn"  %>
  
<% else %>
  <%= link_to 'Sign in', new_employee_session_path, :class => "btn" %>
<% end %>
</center>
    
    
    


