<div class="container">
  <div class="row-fluid">
    <div class="offset1 span10 well">
      <%= link_to 'New Leave info', new_leave_info_path, :class => "btn btn-info" %>
      <%= link_to 'home', root_path, :class => "btn btn-info" %>
      
      <%= render :partial => "leave_show" %> 
      <center><legend>All Leaves List</legend></center>
      <table class="table table-hover">
        <tr>
          <th>Applicant name</th>
          <th>Reference status</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Total day</th>
          <th>Leave_status</th>
          <th></th>
        </tr>
      <% total_count = 0 %> 
      <% @leave_infos.each do |leave_info| %>
        <% count = 0 %>
       
          <tr>
            <%#= leave_info.employee_id %>
            <td><%= leave_info.applicant_name %></td>
            <td><%= leave_info.reference_status %></td>
            <td><%= leave_info.start_date %></td>
            <td><%= leave_info.end_date %></td>

            
            <td><%= count += distance_of_time_in_words(leave_info.start_date,leave_info.end_date).to_i  %></td>
            <% total_count+= count %>
            <td><%= leave_info.leave_status  %>
            <td><%= link_to 'Show', leave_info, :class => "btn btn-info" %></td>
          </tr>
      <% end %>
      </table>
      <b> Total Leave:</b>
      <%= total_count %>
    </div>
  </div>
</div>
      


