  
<div class="container">
  <div class="row-fluid">
    <div class="span12 well">
    <legend>Find leaves between dates</legend>
      <%= render :partial => "leave_show" %> 
      <legend><%= current_employee.personal_info.name.capitalize %>'s leave details</legend>
      <table class="table table-hover">
        <tr>
          <th>Applicant Name</th>
          <th>Referral Name</th>
          <th>Leave_status</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Total day</th>
          
          <th>Counted_leave</th>
          <th></th>
        </tr>
      <% total_count = 0 %> 
      <% @leave_infos.each do |leave_info| %>
        <% count = 1 %>
          <% if(leave_info.leave_status == "pending") %>
            <tr class="warning">
          <% elsif(leave_info.leave_status == "Approved") %>
            <tr class="success">
          <% else %>  
            <tr class="error">
          <% end %> 
          <% @e = leave_info.referral %>
          <td><%= @e.personal_info.name %></td>
          
          <% if(leave_info.applicant_id == leave_info.employee_id) %>
            <td> Self </td>
          <% else %>  
            <% @l = leave_info.employee %>
            <td><%= @l.personal_info.name %>
          <% end %>
          <td><%= leave_info.leave_status  %>
          <td><%= leave_info.start_date %></td>
          <td><%= leave_info.end_date %></td>
          <% if(leave_info.leave_status == "Approved") %>        
            <td><%= count += distance_of_time_in_words(leave_info.start_date,leave_info.end_date).to_i  %></td>
            <td><%= counted_leave = count * leave_info.status_of_day.to_f %></td>
            <% total_count+= counted_leave %>
          <% else %>
            <td>0</td>
            <td>0</td>
          <% end %>
          
          <td><%= link_to 'Show', leave_info, :class => "btn btn-info" %></td>
        </tr>
      <% end %>
      </table>
      <b> Total Leave:</b>
      <%= total_count %>
    </div>
  </div>
</div>
      


