
<div class="container">
  <div class="row-fluid">
    <div class="offset2 span8 well">
   
       <legend> Leave Details</legend>
      <p id="notice"><%= notice %></p>

      <p>
        <b>Applicant Name:</b>
        <% @e = Employee.find_by_id(@leave_info.applicant_id) %>
        <%= @e.personal_info.name %>
      </p>
      
      <p>
        <b>Referral Name:</b>
        <% @e = Employee.find_by_id(@leave_info.employee_id) %>
        <%= @e.personal_info.name %>
      </p>

      <p>
        <b>Start date:</b>
        <%= @leave_info.start_date %>
      </p>

      <p>
        <b>End date:</b>
        <%= @leave_info.end_date %>
      </p>

      <p>
        <b>Status of day:</b>
        <%= @leave_info.status_of_day %>
      </p>

      <p>
        <b>Reason of leave:</b>
        <%= @leave_info.reason_of_leave %>
      </p>

      <p>
        <b>To email ids:</b>
        <%= @leave_info.to_email_ids %>
      </p>

      <p>
        <b>Cc email ids:</b>
        <%= @leave_info.cc_email_ids %>
      </p>

      <p>
        <b>Reference status:</b>
        <%= @leave_info.reference_status %>
      </p>

      
     <%= link_to 'Back', leave_infos_path, :class =>"btn btn-info" %>
   </div>
  </div>
</div>



      
